.content-container {
    width: 100%;

    .image-container {
        a {
            text-align: center;
        }
    }

    .button {
        cursor: pointer;
    }

    .full-width {
        width: 100%;
    }
}

.responsive-img {
    width: 50%;
    max-width: 100%;
    height: auto;
}
