<div class="content-container" fxLayout="column" fxLayoutAlign="start">
    <div class="image-container full-width" fxLayout="row" fxLayoutAlign="center">
        <a href="https://www.aidevs.pl" target="_blank">
            <img class="responsive-img" src="/assets/images/ai-devs-4.png" alt="AI_Devs 4" />
        </a>
    </div>
    <hr />
    <div class="full-width">
        <div class="title">2026.03.08</div>
        <div>
            <p>
                START
            </p>
        </div>
    </div>
</div>
