@use 'src/assets/scss/colors.scss' as *;

$headerHeight: 60px;

.aiworks-main-header-container {
    background-color: $component-color;
    height: $headerHeight;
    padding: 10px 20px;

    .main-logo-container {
        font-size: bolder;
        font-size: 1.5rem;
        cursor: pointer;
    }

    user {
        height: calc($headerHeight - 20px);
    }
}
